# Config file for finite volume HEFT

# Pion mass (0.1385)
m_pi   0.1385

# Lattice volume varying
L_min      2.0
L_max      8.0
L_points   256

# Pion mass varying (0.05, 0.64)   (L=2.9856)
m_pi_min      0.05
m_pi_max      0.64
m_pi_points   256
L_m_pi        2.9856
useFitSlope   T
slopeOrder    2
defaultSlope  0.8925   -0.4807

# Parameter varying 2.9856
L_renorm     2.9856
