# Config file for the scattering system

n_channels   2
n_bare       1

# Channel       # PartialWave
pion Nucleon    P
pion Delta      P

OnshellChannel   1
useCustomMasses  F
particles_D200.in   # options: D200 or N401

# Bare state labels
Delta

# g (2-1 potential), v (2-2),   u (regulator)
A                    A          A
