#      Bounds                  Errors
m1     1.2         3.0         1e-5
g     -1.0         1.0	       1e-4
Lam    0.6         1.6	       1e-5
v     -1.0         1.0        1e-4
Lamv   0.6         1.6	       1e-5

# Which parameters are active
# m_b1      g_b1c1    Lam_b1c1   v_c1c1    Lam_v_c1  
  T         T         T          T         T         
