# NStar_2b3c config

n_channels   3
n_bare       2

# Channel                   partialWave
pion          Nucleon       S
eta           Nucleon       S
Kaon          Lambda        S

OnshellChannel    1
useCustomMasses   T
particles_3fm.in

# Bare state labels
N1535
N1650

# g (2-1 potential), v (2-2),   u (regulator)
B                    B          A
