#      Bounds                  Errors
m1     1.61        1.64        1e-4
m2     1.66        2.3         1e-4
g     -1.0         1.0	       1e-3
Lam    0.6         1.4	       1e-4
v     -1.0         1.0         1e-3
Lamv   0.6         1.4	       1e-4

# Which parameters are active
# m_b1      m_b2      g_b1c1    g_b1c2    g_b1c3    g_b2c1    g_b2c2    g_b2c3    Lam_b1c1  Lam_b1c2  Lam_b1c3  Lam_b2c1  Lam_b2c2  Lam_b2c3   v_c1c1     v_c1c2     v_c1c3     v_c2c2     v_c2c3     v_c3c3    Lam_v_c1  Lam_v_c2  Lam_v_c3
  T         T         T         T         F         T         T         T         T         T         F         T         T         T          T          T          T          T          T          T         T         T         T
  T         T         T         T         F         T         T         T         T         T         F         T         T         T          T          T          T          T          T          T         T         T         T
  T         T         T         T         T         T         T         T         T         T         T         T         T         T          T          T          T          T          T          T         T         T         T
  F         F         F         F         F         F         F         F         F         F         F         F         F         F          T          T          T          T          T          T         T         T         T


# big bounds
m1     1.6         2.0         1e-4
m2     1.7         2.3         1e-4
g     -2.0         2.0	       1e-3
Lam    0.6         1.6	       1e-4
v     -2.0         2.0         1e-3
Lamv   0.6         1.6	       1e-4
