# Config file for finite volume HEFT

# Pion mass
m_pi   0.1385

# Lattice volume varying
L_min      3.0
L_max      8.0
L_points   128

# Pion mass varying 2.9856 3.2704 (0.05 good small one) (0.28 for D200)
m_pi_min       0.05
m_pi_max       0.64
m_pi_points    256
L_m_pi         3.0
useFitSlope    T
slopeOrder     1
defMassSlope   0.96   -0.1

# Parameter varying
L_renorm     2.9856
