# Config file for finite volume HEFT

# Pion mass
m_pi   0.1385

# Lattice volume varying
L_min      3.0
L_max      8.0
L_points   128

# Pion mass varying
m_pi_min       0.05
m_pi_max       0.64
m_pi_points    128
L_m_pi         2.9856
useFitSlope    F
slopeOrder     1
defMassSlope   1.0

# file containing lQCD data
slopeFitMasses.data

# Parameter varying
L_renorm     3.0
