# -----------------Enable/disable active parameters-----------------
m_N1535    1
m_N1650    1

g_N1535_pN   1
g_N1535_eN   1
g_N1535_pN   1
g_N1535_eN   1

Lam_N1535_pN   1
Lam_N1535_eN   1
Lam_N1650_pN   1
Lam_N1650_eN   1

v_pN_pN   1
v_pN_eN   1
v_eN_eN   1

Lam_v_pN  1
Lam_v_eN  1

# --------------------Configure fitting procedure-------------------
maxStep   1e3

# Fitting Errors
m      1e-5
g      1e-4
Lam    1e-5
v      1e-4
Lam_v  1e-5

# Should the fits be liimited?
LimitFit   1

# Fitting Min
m      1.2
g      0.0
Lam    0.6
v     -2.0
Lam_v  0.6

# Fitting Max
m      2.2
g      2.0
Lam    1.6
v      0.0
Lam_v  1.6
